PORT=3000
DATABASE_URL=postgres://foodmood:foodmood@localhost:5432/foodmood
OVERPASS_API_URL=https://overpass-api.de/api/interpreter
NOMINATIM_API_URL=https://nominatim.openstreetmap.org
GEOAPIFY_API_KEY=68767e9f484d417e8e455b65456705e7
CORS_ORIGIN=http://localhost:5173
DATABASE_SSL=true
